<a href="https://colab.research.google.com/github/IamWilliam55/machine-learning/blob/main/Samplecode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

William is a good

In [ ]:
# Step 1: Import Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Step 2: Load and Preprocess the Data TEEAMs

data = pd.read_csv('your_dataset.csv')  # Replace 'your_dataset.csv' with your dataset file path

# Preprocessing steps (modify based on your data)
# Handle missing values
# Encode categorical variables
# Scale numeric features

X = data.drop('target_variable', axis=1)  # Replace 'target_variable' with your target column name
y = data['target_variable']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Choose Algorithms
logistic_model = LogisticRegression()
random_forest_model = RandomForestClassifier()
svm_model = SVC()

# Step 4: Train and Evaluate Models
models = [logistic_model, random_forest_model, svm_model]

for model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    # Step 5: Compare Performance
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)

    print(f"Model: {type(model).__name__}")
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print()

# Step 6: Fine-tuning and Cross-validation (Optional)
# Perform hyperparameter tuning and cross-validation if desired

# Step 7: Finalize the Model
final_model = logistic_model  # Replace with the best-performing model
final_model.fit(X, y)  # Train on the entire dataset

# Use the final_model for predictions on new data

Start of the code

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

Giving Attribute name to the dataset

In [5]:
col =[
'fLength','fWidth','fSize','fConc','fConc1','fAsym','fM3Long','fM3Tran','fAlpha','fDist','class' 
]
data = pd.read_csv('magic04.data',names = col)

Determining the target

In [6]:
data['class'].unique()

array(['g', 'h'], dtype=object)

Converting the attribute into boolean variables
(the class g to 1 and h to 0)

In [7]:
data['class']= (data['class']=="g").astype(int)

How the data looks like

In [8]:
data.head()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Tran,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,1
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,1
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,1
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,1
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,1

Describing the data

In [9]:
data.describe()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Tran,fAlpha,fDist,class
count,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000
mean,53.250154,22.180966,2.825017,0.380327,0.214657,-4.331745,10.545545,0.249726,27.645707,193.818026,0.648370
std,42.364855,18.346056,0.472599,0.182813,0.110511,59.206062,51.000118,20.827439,26.103621,74.731787,0.477492
min,4.283500,0.000000,1.941300,0.013100,0.000300,-457.916100,-331.780000,-205.894700,0.000000,1.282600,0.000000
25%,24.336000,11.863800,2.477100,0.235800,0.128475,-20.586550,-12.842775,-10.849375,5.547925,142.492250,0.000000
50%,37.147700,17.139900,2.739600,0.354150,0.196500,4.013050,15.314100,0.666200,17.679500,191.851450,1.000000
75%,70.122175,24.739475,3.101600,0.503700,0.285225,24.063700,35.837800,10.946425,45.883550,240.563825,1.000000
max,334.177000,256.382000,5.323300,0.893000,0.675200,575.240700,238.321000,179.851000,90.000000,495.561000,1.000000

Preparing the data to be used

In [13]:
cols = data.columns
for labels in cols[-1]:
    plt.hist(data[data['class']==1][label],color = 'blue',label = 'gamma',alpha =0.7,density= True)

NameError: name 'label' is not defined

: